#include ".theme"

*font: xft:curie:size=7

*boldFont:
*lineSpace:             5
*letterSpace:           1
*geometry:              50x20
*internalBorder:        30
*scrollBar:             false


! xft fonts settings
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
Xft.rgba:               rgb

URxvt.perl-ext-common: config-reload
